.deedpool{
    width: 200px;
}
.deedpool:hover{
    transform:scale(1.1);
}
footer{
    text-align: center;
    background: black;
    padding: 40px;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
}
